<header>
    <h1>
        User Registration
    </h1>
</header>
<form id="myForm" class="m-form m-padding">
    <fieldset class="m-form-top-labels">

        <div class="m-field">
            <input id="txtEmailId" type="text" class="m-text" placeholder="Email Id" />
        </div>

        <div class="m-field">
            <input id="txtPassword" type="password" class="m-text" placeholder="Password" />
        </div>

    </fieldset>

    <button id="btnSignUp" type="button" class="m-button m-button-success m-button-block">Register</button>

</form>

